* {
    box-sizing: border-box;
    color: black;
  }
  body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: #233;
    background-color:#243228;
  }
  a {
    text-decoration: none;
    color: #040404;
    font-weight: bold;
    transition: color .1s;
  }
  a:hover {
    color: #0e50a0;
  }
  button {
    background-color: #184377;
    border: 0;
    padding: 1%;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 25px;
  }
  button:hover {
    background-color: #1572e4;
  }
  .post-list {
    margin: 0;
    padding: 0;
  }
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3486eb;
  }
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  form > div {
    margin-bottom: 2%;
  }
  form label {
    display: block;
  }
  li {
    list-style-type: none
  }
  .wrapper {
    width: 100%;
    min-height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: #809688;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #787f87;
  }
  header h1 {
    font-size: 2em;
  }
  main {
    flex: 1;
    padding: 3% 4%;
    border: black 5px solid;
  }
  .btn-no-style {
    background: none;
    border: none;
    padding: 10;
    cursor: pointer;
    text-decoration: none;
    color: #225ca3;
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  .btn-no-style:hover {
    background: none;
    color: #3486eb;
  }
  .delete-post-btn:hover {
    background-color: #f31818;
  }
  .post .title span {
    font-style: bold;
    font-size: 90%;
    color: #7d7d7d;
  }
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  .comment-form {
    margin-bottom: 5%;
  }
  .comment {
    font-style: italic;
    padding: 1%;
    margin-bottom: 1%;
    border: black solid 2px;
  }
  .delete-post-btn:hover {
    background-color: #f31818;
  }
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    border: rgb(121, 121, 121) solid 1px;
    border-radius: 8px;
  }
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  .new-post-form input {
    width: 300px;
  }
  .edit-post-form {
    margin-bottom: 5%;
  }
  .login-form {
    background-color: #67786d;
    text-align: center;
    border-radius: 100px;
  }
  .signup-form {
    background-color: #67786d;
    text-align: center;
    border-radius: 100px;
  }
  .title {
    padding-left: 15px;
  }
  .meta {
    padding-left: 15px;
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    background-color: #70a08a;
  }